.home {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 60px;
  background-color: #173e43;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

.home__header h2 {
  margin: 20px;
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-size: 30px;
}

.home__header .home__menu {
  font-size: 50px;
  font-weight: 600;
  display: none;
  line-height: 100%;
  padding-right: 10px;
  height: 100%;
}

.home__header .home__headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__header .home__headerRight h3 {
  font-size: 20px;
  margin: 0 10px;
}

.home__header .home__logout {
  margin: 20px;
  background: #3fb0ac;
  padding: 5px;
  width: 130px;
  text-align: center;
  color: white;
  font-family: "Merienda", cursive;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 5px 10px 1px rgba(59, 56, 56, 0.7);
          box-shadow: 0 5px 10px 1px rgba(59, 56, 56, 0.7);
}

.home__header .home__logout:active {
  -webkit-box-shadow: 0 3px 5px 0.4px rgba(59, 56, 56, 0.9);
          box-shadow: 0 3px 5px 0.4px rgba(59, 56, 56, 0.9);
  background: #2b7875;
}

.home__header .home__logout:hover {
  background-color: #389d9a;
}

.home__mails {
  padding: 20px;
  padding-bottom: 80px;
  margin: auto;
  margin-top: 30px;
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.home__newMail {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 15px;
  min-width: 120px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #173e43;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 3px 2px 3px rgba(1, 1, 1, 0.2);
          box-shadow: 3px 2px 3px rgba(1, 1, 1, 0.2);
}

.home__newMail:hover {
  background: #0b2928;
}

.home__mailForm {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 200;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  .home__header .home__headerRight {
    display: none;
    position: absolute;
    background-color: #173e43;
    right: 0;
    top: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 150px;
    padding: 40px 20px;
    border-radius: 0 0 8px 8px;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    overflow-y: hidden;
  }
  .home__header .home__headerRight__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home__header .home__menu {
    display: block;
  }
  .home__mails {
    padding: 15px;
    padding-bottom: 80px;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=HomePage.css.map */