.mail {
  display: flex;
  flex-direction: column;
  background: lightcyan;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 10px;
  height: 250px;  
  padding: 10px;
  cursor: pointer;
  position: relative;
  .mail__title {
    font-size: 1.6em;
    margin: 5px;
  }
  .mail__subject {
    flex: 1;
    text-align: left;
    padding: 10px;
    font-size: 18px;
  }
  .mail_schedule {
    text-align: left;
    padding: 5px;
    font-size: 18px;
  }
  .mail__footer {
    display: flex;
    justify-content: space-between;
    .mail__time {
      margin: 0;
      padding: 5px;
    }
    .mail__trash {
      width: 20px;
      margin: 5px;
      // float:right;
    }
  }
}
