.newMail {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  overflow: hidden;
  color: whitesmoke;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.newMail h2 {
  color: whitesmoke;
  padding: 8px;
}

.newMail .newMail__cross {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: whitesmoke;
  cursor: pointer;
}

.newMail .newMail__cross:hover {
  color: gainsboro;
}

.newMail__Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newMail__options {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.newMail__options select {
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newMail__formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.newMail__formContent input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 4px;
}

.newMail__formContent textarea {
  padding: 10px;
  width: auto;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Georgia, "Times New Roman", Times, serif;
  resize: none;
  overflow-y: auto;
  border-radius: 4px;
}

.newMail__formContent button {
  padding: 10px 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  background: #038372;
  color: whitesmoke;
  border-radius: 4px;
}

.newMail__formContent button:hover {
  background: #026a5c;
}

.newMail__mobileSubmit {
  display: none;
  margin: 20px;
  background: #173e43;
  padding: 5px;
  width: 130px;
  text-align: center;
  color: white;
  font-family: "Merienda", cursive;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 5px 10px 1px rgba(59, 56, 56, 0.7);
          box-shadow: 0 5px 10px 1px rgba(59, 56, 56, 0.7);
}

.newMail__mobileSubmit:active {
  -webkit-box-shadow: 0 3px 5px 0.4px rgba(59, 56, 56, 0.9);
          box-shadow: 0 3px 5px 0.4px rgba(59, 56, 56, 0.9);
  background: #03090a;
}

.newMail__mobileSubmit:hover {
  background-color: #102c30;
}

.schedule__recurring > div {
  width: 200px;
}

.schedule__recurring > div h5 {
  margin-right: 10px;
}

.schedule__recurring div input {
  width: 60%;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
  height: 30px;
}

.schedule__recurring div select {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 100%;
  padding: 4px;
  margin: 0;
}

.schedule__options h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px auto;
}

.schedule__options h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  margin-bottom: 10px;
}

.schedule__options > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.schedule__options select {
  padding: 10px;
  width: auto;
  border-radius: 4px;
  border: none;
  outline: none;
}

.schedule__options input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .newMail {
    overflow-y: auto;
  }
  .newMail__Form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .newMail__Form .newMail__options {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .newMail__Form .newMail__options select {
    width: 80%;
  }
  .newMail__Form .newMail__formContent {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .newMail__Form .newMail__formContent button {
    display: none;
  }
  .schedule__options > div {
    width: 80%;
    margin: 10px auto;
  }
  .newMail__mobileSubmit {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
/*# sourceMappingURL=NewMail.css.map */