@mixin button($btcolor) {
  margin: 20px;
  // margin-bottom:10px;
  background: $btcolor;
  padding: 10px;
  width: 150px;
  color: white;
  font-family: " Pacifico", cursive;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  box-shadow: 0 5px 10px 1px rgba(59, 56, 56, 0.7);
  &:active {
    box-shadow: 0 3px 5px 0.4px rgba(59, 56, 56, 0.9);
    background: darken($btcolor, 10%);
    // background: crimson;
  }
  &:hover {
    background-color: darken($btcolor, 5%);
  }
}

$btncolor:rgb(17, 114, 106);
$bgcolor: linear-gradient(to left bottom, #34e89e, #0f3443);           //rgb(5, 80, 80);

.signInPage {
  background: $bgcolor;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  border: 2px solid $bgcolor;
}

.signInPage__logo h2 {
  margin: 20px; 
  // padding: 10px;
  color: whitesmoke;
}
.signInPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 10px;
  margin: 10px;
  height: 50px;
  // margin-top:0;
  // border:2px solid yellow;
}
.signInPage__right button {
  @include button($btncolor);
}

.pwdCheckbox {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: 10px;
  label {
    margin-left: 10px;
    font-size: 14px;
  }
}

.signInPage__content {
  color: white;
  width: 400px;
  text-align: left;
  margin: 20px;
  margin-top:100px;
  margin-left:100px;
  h1{
    font-size:4em; 
  }
  p{
    font-size:1.5em;
  }
}
