@import "./variables";

.signInPage {
  background-color: $bgcolor;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  .circle1 {
    position: absolute;
    bottom: -250px;
    left: -250px;
    @include circle(500px, $theme1);
  }
  .owlImage {
    position: absolute;
    bottom: 50vh;
    transform: translateY(50%);
    right: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.signInPage__logo h2 {
  margin: 20px;
  color: white;
  @include title();
}
.signInPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 60px;
  background-color: $theme1;
  position: sticky;
  top: 0;
}
.signInPage__right button {
  @include button($theme2);
}

.pwdCheckbox {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  label {
    margin-left: 10px;
    font-size: 14px;
  }
}

.signInPage__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: auto;
}
.signInPage__content {
  color: black;
  flex: 1.5;
  width: 100vw;
  max-width: 600px;
  text-align: left;
  margin: 0;
  padding: 100px 50px;
  font-family: $introFont;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 3em;
  }
}

.signInPage__bottomButtons {
  display: none;
  flex-direction: column;
  flex: 1;
  min-height: 300px;
  margin: 0;
  margin-bottom: 10px;
  button {
    @include button($theme2);
  }
}

.copyCredits {
  display: block;
  color: $theme1;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: right;
  font-family: $introFont;
  font-size: 25px;
  padding-right: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 1020px) {
  .signInPage {
    .owlImage {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .signInPage {
    .signInPage__right {
      display: none;
    }
    .signInPage__content {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 2em;
      }
    }

    .signInPage__bottomButtons {
      display: flex;
      button {
        width: 200px;
        padding: 10px;
      }
    }
  }
  .copyCredits {
    text-align: center;
  }
}
