@import "./variables";

.signUp,
.signIn {
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  // background:#218E70;//darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  color: $theme1;
  @include title();
  font-size: 25px;
}

.sign__body {
  display: flex;
  flex-flow: column;
}

.sign__form form {
  background: $theme1;
  border-radius: 4px;
  padding: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  width: 350px;
  // height:300px;
}

.sign__form form > input {
  margin: 10px;
  border: none;
  max-width: 500px;
  border-radius: 4px;
  padding: 10px;
  &:focus {
    border: none;
    outline: none;
  }
}

.sign__form form button {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: $theme2;
  border: none;
  font-weight: 700;
  color: white;
  border-radius: 4px;
}

.sign__alternate {
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  margin: 10px;
}

.sign__alternateAnch {
  font-size: 15px;
  text-decoration: none;
  color: $theme1;
}

@media only screen and (max-width: 600px) {
  .sign__body {
    .sign__form form {
      width: 300px;
    }
    .sign__header {
      font-size: 20px;
      font-weight: 100;
    }
  }
}
